

*{
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
.pd-r{
    padding-right: 8rem;
  }

.full-scrn{
    height: 100vh;
    width: 100vw;
  }
.fix{
    position: fixed; 
    z-index: 1;
  }
.pk{
  height: 100vh;
  width: 100vw;
}
/* .home-bg-img{
  background-image: url('/images/home-bg.jpg/') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */
/* .home-bg-img{
    position: relative;
    background: linear-gradient(090deg, hsl(201.2, 13.2%, 25.3%) 0%, hsl(201.2, 13%, 56%) 100%);
  }
.home-bg-img::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
    background: url("/images/home-bg.JPG") no-repeat center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
  } */
.home-text-sz{
    font-size: 4.2rem;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
  }
.home-sub-sz{
    font-size: 2rem;
    font-weight: normal;
}
.anim{
  font-weight: 500;
  font-size: .5em;
}
.shdw-box {
    box-shadow: 1px 1px 6px 0px #998f8f;
}
.bg{
  transition: 0.8s ease;
  background-color: none;
}
.bg.scrolled{
    color: black;
    background-color: white;
    box-shadow: 1px 1px 6px 0px #998f8f;
}
.navigation-bg{
  transition: 1.2s ease;
  min-height: 7.5rem;
}
.navigation-bg.scroll{
  min-height: 5.6rem;
}
.bdr-b{
    border-bottom: 0.3rem solid #007aff;
} 
.nav-txt-sz{
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: 0.1rem;
}
.nav-txt-sz.textScrolled{
    color: #0078ff;
  }
.nav-txt-sz:start{
    color: thistle;
}
  .nav-btn{
    background-color: rgb(51, 51, 241);
    opacity: 0.9;
  }
.nav-btn:hover{
  background: rgb(78, 78, 243);
    opacity: 0.9;
  }
.trans{
    opacity: 0.5;
  }
.trans-9{
    opacity: 0.9;
  }
.shdw{
    box-shadow: 8px 7px 9px 0px grey;
  }
.bg-clr{
    background-color:  #1e67bb;
    box-shadow: inset 0px 3px 6px 0px rgba(88, 44, 54, 1);
  }
.resume{
    background-color: #6c757e;  
    border: none; 
    border-radius: 0.3rem; 
    height: 2.8rem; 
    width: 10rem; 
    color: white;
    margin-top: 2rem;
  }
.resume:hover{
    background: linear-gradient(352deg, hsl(210, 7.7%, 45.9%) 1%, hsl(84, 2%, 50%) 100%);
    border: none; 
    border-radius: 0.3rem; 
    color: white;
  }
.pad-r{
  padding-right: 0.6rem;
  word-spacing: 0.3rem;
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
}
.list-padding {
  padding-right: 10rem;
}

.top-icon{
  transition: 1.1s ease;
  font-size: 3.5rem;
  opacity: 0;
  position: absolute;
  
}
.top-icon.topiconscroll{
  opacity: 1;
  position: unset;
}

.pranav{
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  position: relative;
  font-size: 2.5rem;
  letter-spacing: -0.2rem;
}
.pranav.pscroll{
  color: #0078ff;
}

/* .work-bg{
  background-image: url("/images/work-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a0808;
} */
/* .work-bg{
  position: relative;
  background: #489bf7
}
.work-bg::before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.3;
  background: url("/images/work-bg.jpg") no-repeat center center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
} */

.work-card{
  font-size: 7rem;
  color: #cde1f9;
}

.work-text{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.work-text-num{
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
}
.clor{
 color: #ffffff;
 text-shadow: 6px 5px 8px black;
}
.clor:hover{
  color: #66CDAA;
}