html{
    scroll-behavior: smooth;
}
body{
    margin : 0;
    font-family: 'Quicksand',sans-serif;
}
.nav-colour {
    color: #cccccc;   
}
.nav-colour:hover{
    
    font-size:1.2rem;
}
 

.home{
    background-image: url('../images/home-bg.JPG');
    width: 100vw; 
    height: 100vh; /* You must set a specified height */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center center; /* Center the image */
    background-repeat: repeat-x; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background: collapse;
    position: relative;
}
.homeup{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background:rgba(59, 59, 59, 0.356);
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.homeup h5,.homeup h2{
    padding: 0rem 4rem;
    color: rgb(235, 228, 228);
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;

}
.homeup h5{
    font-size: 30px;
    font-weight: 500;
}
.homeup h2{
    font-size: 50px ;
    font-weight:600;
}
.about-img{
    display: flex;
    flex-direction: column;
}
.about-img h4{
    padding:1.8rem 0rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight:600;

}
.about-img img{
    width: 20vw;
    align-self: center;
}
.about-para{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about-para p{
    letter-spacing: 2px;
    font-family: 'Quicksand',sans-serif;
    font-weight: 400;
    /* padding-right: 2rem; */
}
.skill-image img{
    width : 35vw;
    height: auto;
    padding-top: 4rem;
    padding-left:3rem;
 
}
.skill-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.skills h4{
    padding:1.8rem 0rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight:600;

}
.p-bar>p{
    margin-top: 3rem;
    letter-spacing: 2px;
    font-family: 'Quicksand',sans-serif;
    font-weight: 400;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .icons h5{
    font-family: 'Quicksand', sans-serif;
    font-weight:600;

  }
  .copyright p{
    font-family: 'Quicksand', sans-serif;
    font-weight:400;

  }